.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smooothing:grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition:transform 0.2s ease-out;
}
.card-container:hover 
{
    transform: scale(1.05);
}